name: Lint, format, and test pull requests

on:
  pull_request:
    branches:
      - "**"

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
          run_install: false

      - name: Setup Node
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm lint

      - name: Format check
        run: pnpm format

      - name: Run test
        run: pnpm test
